// dark-theme
$dark-background-color-primary: #002e00;
$dark-background-color-secondary: #169400;

$dark-font-color-primary: #a1ffd3;
$dark-font-color-secondary: #90ffba;

$dark-button-background-color-primary: #007732;
$dark-button-background-color-secondary: #00a846;
$dark-button-background-color-tertiary: #008351;

$dark-button-font-color-primary: #a7fdd8;
$dark-button-font-color-secondary: #96c3b6;

// light-theme
$light-background-color-primary: #8dfacd;
$light-background-color-secondary: #8cfad0;

$light-font-color-primary: #254235;
$light-font-color-secondary: #1a2f22;

$light-button-background-color-primary: #86fab6;
$light-button-background-color-secondary: #42aa6d;
$light-button-background-color-tertiary: #4ad49f;

$light-button-font-color-primary: #283f35;
$light-button-font-color-secondary: #13201c;
