@import 'src/styles/global.scss';

$background: $dark-background-color-secondary;
$background-dropdown-menu:$dark-background-color-primary;
$button-background: $dark-button-background-color-primary;
$button-background-hover: $dark-button-background-color-secondary;
$font-color: white;

.tab-flex {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.mobile-flex {
  display: flex;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

header {
  background-color: $background;

  nav {
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .nav-left {
      display: flex;
      align-items: center;
      height: 50px;
      width: 200px;

      a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-content: center;

        p {
          display: none;

          @media only screen and (min-width: 768px) {
            display: block;
            color: $font-color;
            margin-left: 10px;
            text-transform: uppercase;
            align-self: center;
            font-weight: 700;
          }
        }
      }

      .logo {
        display: flex;
        width: 30px;
        height: 30px;
      }
    }

    .nav-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;

      .isLogout {
        display: flex;
        justify-content: flex-end;
        width: 200px;

        .icon-box-mobile {
          display: flex;
          justify-content: space-between;

          @media only screen and (min-width: 768px) {
            display: none;
          }
        }

        .icon-box-tab {
          display: none;

          @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
          }
        }

        .login__btn,
        .register__btn {
          height: 15px;
          font-size: 12px;
          margin-left: 15px;

          @extend %text-format;
          letter-spacing: 0.14px;
          color: $font-color;
          background-color: transparent;
          text-decoration: none;
          border: 0;
          cursor: pointer;
        }

        .login__btn,
        .register__btn {
          display: none;

          @media only screen and (min-width: 768px) {
            display: flex;
          }
        }
      }

      .isLogin {
        display: flex;
        justify-content: space-between;
        width: 60px;

        .icon-box-mobile,
        .icon-box-tab {
          width: 100px;
          height: 20px;

          img {
            display: flex;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        .icon-box-mobile {
          display: flex;
          justify-content: space-between;

          @media only screen and (min-width: 768px) {
            display: none;
          }
        }

        .icon-box-tab {
          display: none;

          @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
          }
        }

        .user-name {
          display: none;
          @extend %text-format;

          @media only screen and (min-width: 1024px) {
            display: flex;
            height: 15px;
            font-size: 12px;
            letter-spacing: 0.14px;
            color: $font-color;
            position: relative;
            cursor: pointer;
          }
        }

        .logout__btn {
          height: 15px;
          font-size: 12px;
          @extend %text-format;
          letter-spacing: 0.14px;
          color: $font-color;
          background-color: transparent;
          text-decoration: none;
          border: 0;
          cursor: pointer;

          display: none;

          @media only screen and (min-width: 768px) {
            display: flex;
          }
        }

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          width: 180px;
        }

        @media only screen and (min-width: 1024px) {
          width: 360px;
        }
      }
    }
  }

  // /nav

  .dropdown__menu {
    position: absolute;
    width: 100%;
    background-color: $background-dropdown-menu;
  }

  @media only screen and (min-width: 768px) {
    background-color: $background;
  }

}
