<main>
  <div class="container">
    <h1>Error 404</h1>
    <img src="./../../../../assets/icon/error/logo-company@2x.png" />
    <h2>Page Not Found</h2>
    <button (click)="back()">Back to dashboard</button>
    <div class="console-log-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Quis ipsum suspendisse ultrices gravida.
      </p>
      <p>
        Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
        facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus
        commodo viverra maecenas accumsan lacus vel facilisis.
      </p>
    </div>
  </div>
</main>
